@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --primary: #f472b6; /* pink-400 */
  --secondary: #39cfd3;/* teal-400  #2dd4bf */
  --icon: #6B7280; /* gray-500 */
  --hover: #f472b6; /* pink-400 */
  --outlined: #D1D5DB; /* gray-200 */
  --description: #666666;
  --blue-sky:#d0f1f1; /*#d0f1f1*/
  --yellow-light:#fee673;
  --pink-light: #fff6f9;
}

@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);   
  --color-secondary: var(--secondary);
  --color-icon: var(--icon);
  --color-hover: var(--hover);
  --color-outlined: var(--outlined);
  --color-text-description: var(--description);
  --color-blue-sky: var(--blue-sky);
  --color-pink-light: var(--pink-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .logo {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl;
  }

  .text-badge {
    @apply text-sm;
  }

  .main-menu-link {
    @apply text-base text-gray-700 cursor-pointer hover:text-hover;
  }

  .text-description {
    @apply text-gray-500 text-sm sm:text-base md:text-[15px] lg:text-[16px] leading-relaxed;
  }
  
  .text-button {
    @apply text-xs sm:text-sm md:text-base font-medium;
  }

  .card-rounded {
    @apply rounded-xl lg:rounded-3xl;
  }
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.text-stroke-3 {
  text-shadow:
    3px 0 0 #fff, -3px 0 0 #fff,
    0 3px 0 #fff, 0 -3px 0 #fff,
    3px 3px 0 #fff, -3px 3px 0 #fff,
    3px -3px 0 #fff, -3px -3px 0 #fff;
}

.text-stroke {
  text-shadow:
    0.1em 0 0 #fff, -0.1em 0 0 #fff,
    0 0.1em 0 #fff, 0 -0.1em 0 #fff,
    0.1em 0.1em 0 #fff, -0.1em 0.1em 0 #fff,
    0.1em -0.1em 0 #fff, -0.1em -0.1em 0 #fff;
}

.text-heading-1{
  letter-spacing: -.48px;
  font-weight: 900;
  line-height: normal;
}


